/* Styles go here */
.title{
    color: aqua;
    font-size: 30px;
}

form button{
    background: #333;
    justify-content: center;
    width: 5%;
    height:100%;
}

.todo-container{
    padding: 10px;
    justify-items: start;
    box-sizing: 100px;list-style-type:none;
}

.container ul li{
    list-style-type: none;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container ul li {
    list-style-type: none;
}
.section p{ 
    margin: 0;
    width:  10%; 
    height: auto ;
    
    justify-content: center;
    padding: 20px;
    font-variant-caps: all-petite-caps;
    font-size: 40px;
}

.add-button{
    border-radius: 10px;
    position: relative;
    top: 10px;
    margin-left: 5px;
}

.delButton{  
    display: flex;
    position: relative;
    padding:1.2em;
    margin-left: 20.2em;
  
}